<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <title>Freshman Programming Competition 2013 - Scoreboard</title>
  </head>
  <body>
    <center>
    <h1> Freshman Programming Competition 2013<br> November 16, 2013 </h1>
    <h2> Current Standings: </h2>

    <table border=1>
      <tr>
        {% for col in columns %}<th>{{col}}</th>{% endfor %}
      </tr>
      {% for entry in entries %}
        <tr> {% for val in entry %} <td>{{val}}</td> {% endfor %} </tr>
      {% endfor %}
    </table>
    </center>
  </body>
</html>

